h1, h2, h3, h4, h5, p, .legend {
  color: #363A2B;
}

h1 {
  font-family: "PlayFD-medium", serif;
  font-size: 10rem;
  color: #D9c7b3;
}

h2 {
  font-family: "PlayFD-medium", serif;
  font-size: 9.6rem;
}

h3 {
  font-family: "PlayFD-bold", serif;
  font-size: 4.8rem;
}

h4 {
  font-family: "PlayFD-bold", serif;
  font-size: 3rem;
}

h5 {
  font-family: "Karla-bold", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
}

p .legend {
  font-family: "Karla-regular", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 880px) {
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }
  h2 {
    font-size: 6.4rem;
  }
  h3 {
    font-size: 4rem;
  }
  p {
    font-size: 1.7rem;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
  color: #363A2B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.d-none {
  display: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #E5E0DC;
  opacity: 0.9;
}
header a {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
  color: #363A2B;
}

.header-container {
  width: 90%;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.nav-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.nav-left .logo-home {
  width: 23.5%;
  margin-right: 2rem;
}
.nav-left .logo-home .header-logo {
  width: 100%;
}
.nav-left ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 50%;
}

.nav-right {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
}
.nav-right .contact-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 30%;
}

.active-link {
  font-weight: bold;
  border-bottom: 3px solid #363A2B;
}

@media (max-width: 880px) {
  header {
    background-color: transparent;
    opacity: 1;
  }
  header .header-mobile {
    width: 76.6%;
    margin: auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
  }
  header .header-container {
    display: none;
  }
}
footer {
  background-color: #fff;
}

.footer-container {
  width: 92%;
  margin: auto;
  padding: 4.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.footer-container > div {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
}
.footer-container .logo-footer {
  width: 70%;
  object-fit: cover;
}

.grid-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 24px 11px;
  grid-auto-flow: row;
  justify-items: flex-start;
  align-items: center;
  grid-template-areas: "spa pool" "parking gym" "clim bus";
}
.grid-details img {
  object-fit: cover;
  margin-right: 2rem;
}

.spa {
  grid-area: spa;
  display: flex;
  align-items: center;
}

.parking {
  grid-area: parking;
  display: flex;
  align-items: center;
}

.clim {
  grid-area: clim;
  display: flex;
  align-items: center;
}

.pool {
  grid-area: pool;
  display: flex;
  align-items: center;
}

.gym {
  grid-area: gym;
  display: flex;
  align-items: center;
}

.bus {
  grid-area: bus;
  display: flex;
  align-items: center;
}

.grid-info {
  width: 73%;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 0.8fr 0.7fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 24px 20px;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: start;
  align-items: center;
  grid-template-areas: "arrival departure accessibility" "annulation-conditions annulation-conditions pets" "age-restrictions age-restrictions paiement";
}

.grid-info > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.2rem;
}
.grid-info span {
  font-weight: bold;
}

.annulation-conditions {
  grid-area: annulation-conditions;
  width: 70%;
}

.arrival {
  grid-area: arrival;
}

.departure {
  grid-area: departure;
}

.age-restrictions {
  grid-area: age-restrictions;
  width: 70%;
}

.accessibility {
  grid-area: accessibility;
  padding-left: 10rem;
  width: 90%;
}

.pets {
  grid-area: pets;
  padding-left: 10rem;
  width: 90%;
}

.paiement {
  grid-area: paiement;
  padding-left: 10rem;
  width: 90%;
}

.form-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
}
.form-container h3 {
  font-size: 3rem;
  padding: 2rem 0;
}
.form-container form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.form-container form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
}
.form-container form label input, .form-container form label select {
  color: #363A2B;
  font-family: "Karla-regular", sans-serif;
  font-size: 1.8rem;
  padding: 0.8em;
  background-color: #E5E0DC;
  border: none;
  border-radius: 8px;
}

.hero-form {
  width: 50%;
  aspect-ratio: 3.5/1;
  background-color: #D9c7b3;
  border-radius: 18px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

@media (max-width: 880px) {
  .hero-form {
    bottom: -20%;
  }
  .hero-form .form-container {
    width: 73%;
    height: 325px;
  }
  .hero-form .form-container h3 {
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }
  .hero-form .form-container form {
    flex-direction: column !important;
    align-items: center;
  }
  .hero-form .form-container form label {
    justify-content: center;
    align-items: center;
  }
  .hero-form .form-container form label input, .hero-form .form-container form label select {
    width: 225px;
    font-size: 1.5rem;
  }
  .hero-form .form-container form .search-btn {
    font-size: 2rem;
    bottom: -5%;
  }
}
.primary-btn {
  font-family: "Karla-regular", sans-serif;
  font-size: 3rem;
  color: #fff;
  background-color: #363A2B;
  border: none;
  border-radius: 0.6rem;
  padding: 0.7rem 3rem;
  cursor: pointer;
}

.primary-btn:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.secondary-btn {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: #4f6234;
  border: none;
  border-radius: 0.6rem;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
}

.secondary-btn:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.search-btn {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  cursor: pointer;
}

.search-btn:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .modal-content {
  position: relative;
  background: #E5E0DC;
  padding: 2rem;
  border-radius: 10px;
  width: 50%;
  font-family: "Karla-regular", sans-serif;
  color: #363A2B;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form fieldset {
  border: 1px solid #D9c7b3;
  padding: 1rem;
  border-radius: 5px;
}
form fieldset legend {
  font-family: "PlayFD-medium", serif;
  font-size: 2rem;
  color: #4f6234;
}
form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
form .name-group {
  display: flex;
  gap: 1rem;
}
form .name-group label {
  flex: 1;
}
form input, form select {
  padding: 0.5rem;
  border: 1px solid #363A2B;
  background: #E1D2C2;
  font-size: 1rem;
}
form .radio-group, form .checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
form .radio-group label, form .checkbox-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 1px solid #363A2B;
  border-radius: 5px;
  background: #D9c7b3;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
form .radio-group label input, form .checkbox-group label input {
  display: none;
}
form button {
  width: 20%;
  background: #4f6234;
  color: white;
  padding: 0.75rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background 0.3s;
}
form button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
form .close-modal {
  position: absolute;
  width: 80px;
  right: 20px;
  bottom: 20px;
}

.carousel {
  position: relative;
  width: 86.7%;
  margin-left: 13.3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 9rem;
  overflow: hidden;
}
.carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 0;
  width: 37%;
  min-width: 37%;
  aspect-ratio: 1.5/1;
}
.carousel .item h4, .carousel .item p {
  width: 60%;
  color: white;
  padding: 0 2rem 2rem 0;
  text-align: right;
}
.carousel .item button {
  margin: 0 2rem 2rem 0;
}

.chauffeur {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/services/services-chauffeur.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.breakfast {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/services/services-breakfast.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.diner {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/services/services-food.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.guide {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/services/services-guide.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.snow-dog {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/activities/chien-traineaux.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hiking {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/activities/rando-raquette.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.volcano {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/activities/volcan.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.caves {
  background-image: linear-gradient(to left, #515151, transparent), url(../../assets/images/pictures/activities/speleologie.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.car-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  position: absolute;
  top: 50%;
}
.car-btns .next {
  padding: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4823529412);
  border-radius: 1rem 0 0 1rem;
}
.car-btns .prev {
  padding: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4823529412);
  border-radius: 0 1rem 1rem 0;
}

body {
  background-color: #E5E0DC;
}

.hero-container {
  width: 100vw;
  aspect-ratio: 1.35/1;
  position: relative;
}
.hero-container h1 {
  width: 77%;
  text-align: right;
  position: absolute;
  top: 35%;
  right: 4%;
}
.hero-container .hero-video {
  width: 100%;
  position: relative;
  background: linear-gradient(to left, rgba(54, 54, 54, 0.7568627451), transparent);
}
.hero-container .hero-video video {
  width: 100%;
  position: relative;
  top: 5px;
  z-index: -1;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11rem;
}
.container-fluid h2, .container-fluid .text {
  padding: 5rem 0;
}
.container-fluid .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 1rem 0;
}
.container-fluid .nb-avis::before {
  content: "(325 avis)";
}

.fire-hotel, .earth-hotel {
  aspect-ratio: 2/1;
  width: 88%;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10rem;
  align-self: flex-end;
}
.fire-hotel .fire-hotel-content, .fire-hotel .earth-hotel-content, .earth-hotel .fire-hotel-content, .earth-hotel .earth-hotel-content {
  padding: 0 2.5rem;
  width: 50%;
}
.fire-hotel .hotel-pics, .earth-hotel .hotel-pics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.fire-hotel .hotel-pics .first-pic, .earth-hotel .hotel-pics .first-pic {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.fire-hotel .hotel-pics .first-pic img, .earth-hotel .hotel-pics .first-pic img {
  object-position: -300px center;
}
.fire-hotel .hotel-pics .second-pic, .earth-hotel .hotel-pics .second-pic {
  width: 30%;
  height: 100%;
  overflow: hidden;
  padding-left: 2rem;
}
.fire-hotel .hotel-pics .second-pic img, .earth-hotel .hotel-pics .second-pic img {
  object-position: -300px center;
}

.air-hotel, .water-hotel {
  height: 800px;
  width: 88%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10rem;
  align-self: flex-start;
}
.air-hotel .air-hotel-content, .air-hotel .water-hotel-content, .water-hotel .air-hotel-content, .water-hotel .water-hotel-content {
  padding: 0 2.5rem;
  width: 40%;
}
.air-hotel .hotel-pics, .water-hotel .hotel-pics {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.air-hotel .hotel-pics .first-pic, .water-hotel .hotel-pics .first-pic {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.air-hotel .hotel-pics .first-pic img, .water-hotel .hotel-pics .first-pic img {
  object-position: -300px center;
  height: 100%;
}
.air-hotel .hotel-pics .second-pic, .water-hotel .hotel-pics .second-pic {
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.air-hotel .hotel-pics .second-pic img, .water-hotel .hotel-pics .second-pic img {
  object-position: -300px center;
}

.container {
  width: 73%;
  margin: auto;
}
.container .concept-arch {
  padding: 16rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.container .concept-arch .concept, .container .concept-arch .architectural {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 3.5rem;
}
.container .concept-arch img {
  width: 100%;
}
.container .creator {
  padding-bottom: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.container .creator .creator-words {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 3.5rem;
}
.container .creator .creator-photo {
  max-width: 40%;
}
.container .creator .creator-photo img {
  width: 100%;
  aspect-ratio: 1/1.3;
  object-fit: cover;
}

@media (max-width: 880px) {
  .hero-container h1 {
    text-align: center;
    top: 25%;
    left: 10%;
    transform: translate(-50% -50%);
  }
  .hero-container video {
    height: 700px;
    object-fit: cover;
  }
}
@media (max-width: 880px) {
  .container-fluid {
    gap: 2rem;
  }
  .container-fluid > div {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
@media (max-width: 880px) {
  .container .concept-arch {
    flex-direction: column;
  }
  .container .concept-arch .concept, .container .concept-arch .architectural {
    max-width: none;
    width: 100%;
    margin: 3rem auto;
  }
  .container .creator {
    flex-direction: column-reverse;
  }
  .container .creator .creator-words, .container .creator .creator-photo {
    max-width: none;
    width: 100%;
    margin: 3rem auto;
  }
  .container .creator .h3-desktop {
    display: none;
  }
  .container .creator .h3-mobile {
    display: block;
    margin-bottom: 2rem;
  }
}
.fire-page {
  padding-top: 12rem;
}

.offers {
  width: 100vw;
}
.offers h3 {
  margin: 6rem 0;
}
.offers .offers-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.offers .offers-content > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 3.5rem;
}
.offers .offers-content > div > img {
  width: 100%;
  aspect-ratio: 1.8/1;
  object-fit: cover;
  margin-bottom: 8rem;
}
.offers .offers-content .suite {
  gap: 4rem;
}
.offers .offers-content p span {
  font-weight: bold;
}

.services, .activities {
  width: 100vw;
  padding: 8rem 0 2rem 0;
}
.services > h4, .services > p, .activities > h4, .activities > p {
  width: 73%;
  margin: 1.5rem auto;
}

.testimonial {
  width: 100vw;
  padding: 8rem 0;
}
.testimonial video {
  width: 100%;
  padding: 8rem 0;
}
.testimonial h4 {
  width: 73%;
  margin: 2rem auto;
}
.testimonial .testi-content {
  width: 73%;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
.testimonial .testi-content .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 40%;
}
.testimonial .testi-content .content .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}

.name > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.info h3, .info h4, .info > p {
  width: 73%;
  margin: 2rem auto;
}

/*# sourceMappingURL=styles.css.map */
