h1, h2, h3, h4, h5, p, .legend {
  color: #363A2B;
}

h1 {
  font-family: "PlayFD-medium", serif;
  font-size: 10rem;
  color: #D9c7b3;
}

h2 {
  font-family: "PlayFD-medium", serif;
  font-size: 9.6rem;
}

h3 {
  font-family: "PlayFD-bold", serif;
  font-size: 4.8rem;
}

h4 {
  font-family: "PlayFD-bold", serif;
  font-size: 3rem;
}

h5 {
  font-family: "Karla-bold", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
}

p .legend {
  font-family: "Karla-regular", sans-serif;
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
  color: #363A2B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #E5E0DC;
  opacity: 0.9;
}
header a {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
  color: #363A2B;
}

.header-container {
  width: 90%;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.nav-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.nav-left .logo-home {
  width: 23.5%;
  margin-right: 2rem;
}
.nav-left .logo-home .header-logo {
  width: 100%;
}
.nav-left ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 50%;
}

.nav-right {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
}
.nav-right .contact-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 30%;
}

.form-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
}
.form-container h3 {
  font-size: 3rem;
  padding: 2rem 0;
}
.form-container form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.form-container form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  gap: 1rem;
}
.form-container form label input, .form-container form label select {
  color: #363A2B;
  font-family: "Karla-regular", sans-serif;
  font-size: 1.8rem;
  padding: 0.8em;
  background-color: #E5E0DC;
  border: none;
  border-radius: 8px;
}

.hero-form {
  width: 50%;
  aspect-ratio: 3.5/1;
  background-color: #D9c7b3;
  border-radius: 18px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.primary-btn {
  font-family: "Karla-regular", sans-serif;
  font-size: 3rem;
  color: #fff;
  background-color: #363A2B;
  border: none;
  border-radius: 0.6rem;
  padding: 0.7rem 3rem;
}

.secondary-btn {
  font-family: "Karla-regular", sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: #4f6234;
  border: none;
  border-radius: 0.6rem;
  padding: 0.7rem 1.4rem;
}

.search-btn {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
}

.hero-container {
  width: 100%;
  aspect-ratio: 1.35/1;
  position: relative;
}
.hero-container h1 {
  width: 77%;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 4%;
}
.hero-container .hero-video {
  width: 100%;
  position: relative;
  background: linear-gradient(to left, rgba(54, 54, 54, 0.7568627451), transparent);
}
.hero-container .hero-video video {
  width: 100%;
  position: relative;
  top: 5px;
  z-index: -1;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11rem;
}
.container-fluid h2, .container-fluid .text {
  padding: 5rem 0;
}
.container-fluid .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 1rem 0;
}
.container-fluid .nb-avis::before {
  content: "(325 avis)";
}

.fire-hotel, .earth-hotel {
  aspect-ratio: 2/1;
  width: 88%;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10rem;
  align-self: flex-end;
}
.fire-hotel .fire-hotel-content, .fire-hotel .earth-hotel-content, .earth-hotel .fire-hotel-content, .earth-hotel .earth-hotel-content {
  padding: 0 2.5rem;
  width: 37%;
}
.fire-hotel .hotel-pics, .earth-hotel .hotel-pics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.fire-hotel .hotel-pics .first-pic, .earth-hotel .hotel-pics .first-pic {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.fire-hotel .hotel-pics .first-pic img, .earth-hotel .hotel-pics .first-pic img {
  object-position: -300px center;
}
.fire-hotel .hotel-pics .second-pic, .earth-hotel .hotel-pics .second-pic {
  width: 30%;
  height: 100%;
  overflow: hidden;
  padding-left: 2rem;
}
.fire-hotel .hotel-pics .second-pic img, .earth-hotel .hotel-pics .second-pic img {
  object-position: -300px center;
}

.air-hotel, .water-hotel {
  height: 800px;
  width: 88%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10rem;
  align-self: flex-start;
}
.air-hotel .air-hotel-content, .air-hotel .water-hotel-content, .water-hotel .air-hotel-content, .water-hotel .water-hotel-content {
  padding: 0 2.5rem;
  width: 37%;
}
.air-hotel .hotel-pics, .water-hotel .hotel-pics {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.air-hotel .hotel-pics .first-pic, .water-hotel .hotel-pics .first-pic {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.air-hotel .hotel-pics .first-pic img, .water-hotel .hotel-pics .first-pic img {
  object-position: -300px center;
  height: 100%;
}
.air-hotel .hotel-pics .second-pic, .water-hotel .hotel-pics .second-pic {
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.air-hotel .hotel-pics .second-pic img, .water-hotel .hotel-pics .second-pic img {
  object-position: -300px center;
}

/*# sourceMappingURL=styles.css.map */
