@use "../abstracts/variables" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/mixins" as *;

body {
  background-color: $background-color;
}

// Hero

.hero-container {
  width: 100vw;
  aspect-ratio: 1.35/1;
  position: relative;

  h1 {
    width: 77%;
    text-align: right;
    position: absolute;
    top: 35%;
    right: 4%;
  }

  .hero-video{
    width: 100%;
    position: relative;
    background: linear-gradient(to left, #363636c1, transparent);
    
    video {
      width: 100%;
      position: relative;
      top: 5px;
      z-index: -1;
    }
  }
}




// Home content

// Container et generals
.container-fluid {
  width: 100%;
  @include dFlex (column, center, center, nowrap, 11rem);

  h2, .text {
    padding: 5rem 0;
  }
  .rating {
    @include dFlex (row, flex-start, center, nowrap, 0.5rem);
    padding: 1rem 0;
  }
  
  .nb-avis::before {
    content : "(325 avis)";
  }

  
}


// fire & earth hotel postion
.fire-hotel, .earth-hotel {
  aspect-ratio: 2/1;
  width: 88%;
  max-height: 800px;
  @include dFlex (row, space-between, center, nowrap, 10rem);
  align-self: flex-end;

  .fire-hotel-content, .earth-hotel-content {
    padding: 0 2.5rem;
    width: 50%;
  }

  .hotel-pics {
    @include dFlex (row, flex-start, center, nowrap, 2rem);
    width: 60%;
    height: 100%;
    overflow: hidden;

    .first-pic {
      width: 70%;
      height: 100%;
      overflow: hidden;
    
      img {
        object-position: -300px center;

      }
    }

    .second-pic {
      width: 30%;
      height: 100%;
      overflow: hidden;
      padding-left: 2rem;


      img {
        object-position: -300px center;
      }
    }
  }
}

// Air & water position

.air-hotel, .water-hotel {
  height: 800px;
  width: 88%;
  @include dFlex (row-reverse, space-between, center, nowrap, 10rem);
  align-self: flex-start;

  .air-hotel-content, .water-hotel-content {
    padding: 0 2.5rem;
    width: 40%;
  }

  .hotel-pics {
    @include dFlex (row-reverse, flex-start, center, nowrap, 2rem);
    width: 60%;
    height: 100%;
    overflow: hidden;

    .first-pic {
      width: 70%;
      height: 100%;
      overflow: hidden;
    
      img {
        object-position: -300px center;
        height: 100%;
      }
    }

    .second-pic {
      width: 30%;
      height: 100%;
      overflow: hidden;

      img {
        object-position: -300px center;
      }
    }
  }
}

// Concept & architecture

.container {
  width: 73%;
  margin: auto;

  .concept-arch{
    padding: 16rem 0;
    width: 100%;
    @include dFlex (row, space-between, center, nowrap, 0);

    .concept, .architectural {
      max-width: 40%;
      @include dFlex (column, space-between, flex-start, nowrap, 3.5rem);
 
    }
    img {
      width: 100%;
    }
  }

  .creator {
    padding-bottom: 10rem;
    width: 100%;
    @include dFlex (row, space-between, center, nowrap, 0);

    .creator-words {
      max-width: 40%;
      @include dFlex (column, space-between, flex-start, nowrap, 3.5rem);
    }

    .creator-photo {
      max-width: 40%;

      img {
        width: 100%;
        aspect-ratio: 1/1.3;
        object-fit: cover;
      }
    }
  }
}

// media pour le hero
@media (max-width: 880px){
  .hero-container {
    
    h1 {
      text-align: center;
      top: 25%;
      left: 10%;
      transform: translate(-50% -50%);
    }

    video {
      height: 700px;
      object-fit: cover;
    }
  }
}

// Media pour le home content (listing hotel)
@media (max-width: 880px){
  .container-fluid {
    gap: 2rem;

    > div {
      width: 100%;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }
}



// media pour le home content
@media (max-width: 880px){
  .container {
    .concept-arch{
      flex-direction: column;

      .concept, .architectural {
        max-width: none;
        width: 100%;
        margin: 3rem auto;
      }
    }

    .creator {
      flex-direction: column-reverse;

      .creator-words, .creator-photo {
        max-width: none;
        width: 100%;
        margin: 3rem auto;
      }

      .h3-desktop {
        display: none;
      }

      .h3-mobile {
        display: block;
        margin-bottom: 2rem;
      }
    }
  }
}