@use "../../abstracts/variables" as *;

.primary-btn {
  font-family: 'Karla-regular', sans-serif;
  font-size: 3rem;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 0.6rem;
  padding: 0.7rem 3rem;
  cursor: pointer;
}
.primary-btn:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.secondary-btn {
  font-family: 'Karla-regular', sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: $secondary-color;
  border: none;
  border-radius: 0.6rem;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
}

.secondary-btn:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}


.search-btn {
  position: absolute;
  left: 50%;
  bottom: -10%; 
  transform: translateX(-50%);
  cursor: pointer;
}

.search-btn:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}
