@use "../abstracts/variables" as *;

h1, h2, h3, h4, h5, p, .legend {
  color: $primary-color;
}

h1 {
  font-family: 'PlayFD-medium', serif;
  font-size: 10rem;
  color: $tertiary-color;
}

h2 {
  font-family: 'PlayFD-medium', serif;
  font-size: 9.6rem;
}

h3 {
  font-family: 'PlayFD-bold', serif;
  font-size: 4.8rem;
}

h4 {
  font-family: 'PlayFD-bold', serif;
  font-size: 3rem;
}

h5 {
  font-family: 'Karla-bold', sans-serif;
  font-size: 2rem;
}

p {
  font-family: 'Karla-regular', sans-serif;
  font-size: 2rem;
}

p .legend {
  font-family: 'Karla-regular', sans-serif;
  font-size: 1.5rem;
}

@media (max-width:880px){
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }

  h2 {
    font-size: 6.4rem;
  }

  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 1.7rem;
  }
}

